:root {
  --card-width: 511px;
  --card-height: 294px;
  --border-radius: 0.8rem;
  --margin-between-cards: 1rem;
}
.why-choose-us {
  text-align: center; 


}

.why-choose-us h1 {
 font-family: 'Gotham', sans-serif;
margin-top: 1em;
 
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.03em;
 
  margin: 0; 
}
.why-choose-us .why {
color: #034a9b; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2rem; 
  font-family: "Gotham", sans-serif;
}

.card {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--border-radius);
  margin: var(--margin-between-cards);
  overflow: hidden;

  
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; 
  height: 0;
  background-color: rgba(15, 95, 186, 0.844); 
  opacity: 1; 
  transition: width 0.3s, height 0.3s, opacity 0.3s; 

}













.card:hover::before {
  width: 100%; 
  height: 100%; 
  opacity: 1;

  backdrop-filter: blur(4px)
  opacity: 0.8; 

  
}

.card .content {
  position: absolute;
  top: 50%;
  left: 50%;
 
  transform: translate(-50%, -50% );
  z-index: 5; 

 
  color: white; 
  opacity: 0;
}

.card img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
  border-radius: var(
    --border-radius
  ); 
}



.card:hover .content {
  opacity: 1; 
  transition: opacity 0.2s ease-in-out 0.2s; 
}


.card:hover .description {
  animation: slideInUp 0.5s forwards ease-in-out; /* Animation for sliding in */
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 400px) {
  .card {
    width: calc(100% - 2 * var(--margin-between-cards));

    height: auto; /* Set card height to auto */
    margin: var(--margin-between-cards) 0; /* Adjust margin */
  }
}

h2{
  font-size: 28px;
}
span{
  color: rgb(234, 234, 26);
}
.description{
  font-size: 20px;
}

